.login__button {
  margin-top: 216px;
  width: 358px;
  height: 50px;
  align-self: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.login__button:hover{
  opacity: 0.85;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .login__button {
    margin-top: 173px;
    width: 260px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}

