.header__email {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  max-height: 22px;
  margin: 0 24px 0 0;
  padding-top: 10px;
}

@media all and (max-width: 768px) {
  .header__email {
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
