.register__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 0;
  margin-bottom: 0;
}

@media all and (max-width: 768px) {
  .register__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
  }
}
