.header__text_type_sign {
  max-height: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(169, 169, 169, 1);
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

.header__text_type_sign:hover {
  opacity: 0.6;
}

@media all and (max-width: 768px) {
  .header__text_type_sign {
    margin-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
