.popup__zoom-image {
    max-width: 75vw;
    max-height: 75vh;
    margin-right: 40px;
    z-index: 5;
}

@media all and (max-width: 583px) {
    .popup__zoom-image {
        margin-right: 0;
   }
  }