.page {
    max-width: 1280px;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    font-family: 'Inter', sans-serif;
}

@media all and (max-width: 424px) {
    .page {
        max-width: 320px;
   }
  }